# Direct GitHub repositories
git+https://github.com/vasusen-code/Telethon@v1.24.0
git+https://github.com/vasusen-code/ethon@v0.1.4

# PyPI packages
cryptg
tgcrypto
pyrogram
python-decouple
Flask==2.3.3
gunicorn==21.2.0
